body{
 	 	font-family: courier , monospace;
        background-color: #D0BCA7;
 }


.container_nachalo{
    background-color: #D0BCA7;
    display: flex;
flex-direction: column;
align-items: center;
}

.title {
    color: #473728;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-family: courier , monospace;
    position: relative;
}


.container{
    color: white;
    background-color: #A78E6C;
font-size: 24px;
text-align: center;
    text-decoration: none;
    position: relative;
}

.im1{
    float: left;
    padding: 0 20px 20px 0;
}

.im2{
    float: right;
    padding: 0 20px 20px 0;
}

 .tit{
    color: white;
    text-decoration: none;
    font-size: 30px;
}


.container2{
   color: white;
    background-color: #A78E6C;
font-size: 24px;
text-align: center;
    text-decoration: none;
    position: relative;
}

 .tit1{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.container3{
    color: white;
    background-color: #A78E6C;
font-size: 24px;
text-align: center;
    text-decoration: none;
    position: relative;
}

.tit2{
    color: white;
    text-decoration: none;
    font-size: 30px;
}